body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(225deg, hsla(230, 90%, 44%, 1) 0%, hsla(186, 92%, 15%, 1) 100%);
  background-repeat: no-repeat;
}

code {
  font-family: 'Montserrat', sans-serif;
}
